<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="d-flex flex-column flex-row align-items-sm-center">
          <div class="input-group">
            <input type="text" name="keywords" class="form-control" placeholder="輸入想找的餐廳、分類..."
              aria-label="Restaurant Name..." value="{{ keywords }}" aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </div>
          <div class="input-group justify-content-end">
              <div class="text-right mt-2">
                <a href="/restaurants/new">
                  <button class="btn btn-success">新增餐廳</button>
                </a>
              </div>

              <div id="sortSelector">
                <div class="dropdown mt-2">
                  <a class="btn btn-outline-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Sort{{#if title}}({{title}}){{/if}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/search?keywords={{ keywords }}&sort=name&order=asc&title=A->Z">A to Z</a></li>
                    <li><a class="dropdown-item" href="/search?keywords={{ keywords }}&sort=name&order=desc&title=Z->A">Z to A</a></li>
                    <li><a class="dropdown-item" href="/search?keywords={{ keywords }}&sort=category&order=asc&title=類別">類別</a></li>
                    <li><a class="dropdown-item" href="/search?keywords={{ keywords }}&sort=location&order=asc&title=地區">地區</a></li>
                  </ul>
                </div>
              </div>


          </div>
        </div>
      </form>

    </div>
  </div>


</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row" >
    {{#each restaurant}}
    <div class="col-12 col-sm-6 col-md-4">
        <div class="card mb-3">
          <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
          <div class="card-body p-3">
            <h6 class="card-title mb-1">{{this.name}}</h6>

            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i>
              {{this.category}}
            </div>

            <span class="badge rounded-pill bg-danger">
              {{this.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>
            </div>
          <div class="card-footer d-flex justify-content-end flex-wrap">
            <a href="/restaurants/{{this._id}}/edit" class="btn btn-outline-dark"> Edit</a>
            <a href="/restaurants/{{this._id}}" class="btn btn btn btn btn-outline-secondary"> Detail</a>
            <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>

        </div>

    </div>
    {{/each}}
  </div>
</div>
